# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
venv/
env/

# IDEs
.vscode/
.idea/

# Distribution / builds
build/
dist/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints
